{% extends 'base.html' %}

{% block page_title %}BTI Konekt - {{ candidate.name }}{% endblock %}

{% block body_title %}Détails de {{ candidate.name }}{% endblock %}

{% block content %}
<section class="main-section-element">
  {% if candidate %}
  <h2 class="title-middle">{{ candidate.job }}</h2>
  <p class="text">Dernière modification le {{ candidate.modified_at | date:'d F Y \à H\hi'}}.</p>

  <div class="content-wrapper content-wrapper--cvdesktop">

    <ul class="list list--flex">
      <li class="list-element"><a class="link link-content link-content--highlight" href="/download/?source=db&format=bti&id={{ candidate.id }}">Format BTI</a></li>
      <li class="list-element"><a class="link link-content link-content--highlight" href="/download/?source=db&format=yellow&id={{ candidate.id }}">Format Yellow IT</a></li>
      {% if candidate.link_cv %}
        <li class="list-element"><a class="link link-content link-content--highlight" href="{{ candidate.link_cv }}">Format Original</a></li>
      {% endif %}
    </ul>

    <article class="content-wrapper-element">
      <div class="content-wrapper--flex">
        <div class="wrapper--flex">
          <p class="text"><span class="text--bold">Téléphone : </span>{{ candidate.phone }}</p>
          <p class="text"><span class="text--bold">Email : </span>{{ candidate.email }}</p>
          <p class="text"><span class="text--bold">Adresse : </span>{{ candidate.address }}</p>
        </div>
        <div class="wrapper--flex">
          <p class="text"><span class="text--bold">Mobilité : </span>{{ candidate.mobility }}</p>
          <p class="text"><span class="text--bold">Disponibilité : </span>{{ candidate.availability }}</p>
          <p class="text"><span class="text--bold">Statut : </span>{{ candidate.status }}</p>
          <p class="text"><span class="text--bold">Tarif : </span>{{ candidate.price }}</p>
          <p class="text"><span class="text--bold">Salaire : </span>{{ candidate.salary }}</p>
        </div>
      </div>

      <article>
        <h1 class="title-middle">Education / Formations</h1>
        {% if candidate.educations.all %}
          {% for education in candidate.educations.all %}
          <article>
            <p class="text"><span class="text--bold">Date : </span>{{ education.date }}</p>
            <p class="text"><span class="text--bold">Nom : </span>{{ education.name }}</p>
          </article>
          {% endfor %}
        {% else %}
          <p>Ce candidat n'a pas de diplôme</p>
        {% endif %}
      </article>

      <article>
        <h1 class="title-middle">Expériences</h1>
        {% if candidate.experiences.all %}
          {% for experience in candidate.experiences.all %}
          <article>
            <h1 class="title-small">{{ experience.job_title }}</h1>
            <h2 class="title-small">{{ experience.company_name }}</h2>
            <p class="text"><span class="text--bold">Lieu : </span>{{ experience.job_location }}</p>
            <p class="text"><span class="text--bold">Début : </span>{{ experience.duration }}</p>
            <p class="text"><span class="text--bold">Description : </span>{{ experience.description }}</p>
            <p class="text"><span class="text--bold">Outils : </span>{{ experience.tools }}</p>
          </article>
          {% endfor %}
        {% else %}
          <p>Ce candidat n'a pas d'expérience</p>
        {% endif %}
      </article>

      <article>
        <h1 class="title-middle">Compétences</h1>
        {% if candidate.skills.all %}
          {% for skill in candidate.skills.all %}
            <p class="text"><span class="text--bold"></span>{{ skill.name }}</p>
          {% endfor %}
        {% else %}
          <p>Ce candidat n'a pas encore de compétences enregistrées</p>
        {% endif %}
      </article>
    </article>

    <ul class="list list--flex">
      <li class="list-element"><a class="link link-content" href="{% url 'konekt:edit_candidate' candidate_id=candidate.id %}">Modifier</a></li>
      <li class="list-element"><a class="link link-content" href="{% url 'konekt:delete_candidate' candidate_id=candidate.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce&middot;tte candidat&middot;e ?')">Supprimer</a></li>
      <li class="list-element"><a class="link link-content" href="{% url 'konekt:add_candidate' %}">Ajouter un nouveau CV</a></li>
      <li class="list-element"><a class="link link-content"  href="{% url 'konekt:candidate_list' %}">Tou&middot;te&middot;s les candidat&middot;e&middot;s</a></li>
    </ul>
  </div>
  {% endif %}
</section>
{% endblock %}
